span input{
  width: 18px;
  margin: 2px;
}
.main{
  margin: 10px;
}
.main .tren h3{
  margin-top: 20px;
}
.main .tren h2{
  margin-top: 40px;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
  width: 100vw;
}
